#show-details{
    background-color: orange;
}

.show-and-share-and-remove{
    display: flex;
    flex-direction: column;
    width: 130px;
    margin-bottom: 30px;
    justify-content: center;
}

.icon-buttons{
    width: 20px;
    height: 20px;
    background-color: white;
    margin-right: 20px;
}

.icon{
    width: 30px;
    height: 30px;
}

.product{
    width: 180px;
    height: 160px;
    margin-bottom: 20px;
}

.line{
    width: 1300px;
    height: 1px;
    background-color: rgb(219, 219, 219);
}


#show-details:hover{
    transform: scale(1.05);
}

#remove{
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: red;
}
#remove:hover{
    transform: scale(1.05);
}

.like-button{
    background-color: white;
    width: 100px;
    margin-top: 30px;
    margin-left: -50px;
}
.like-button:hover{
    transform: scale(1.01);
}
.like-cnt{
    margin-top: -40px;
    margin-left: 50px;
}