
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
  }
.inpt {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
input {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc; /* уменьшили толщину границы до 1px */
    outline: none;
}
input:focus {
    border-color: #0077b6;
}
.g {
    display: grid;
    grid-template-columns: 450px 500px 450px ;
    grid-gap: 30px; /* задать расстояние между блоками */
    margin-top: 2rem;
}
.x1 {
    margin: 1rem;
}
.x2 {
    text-align: center;
    border-radius: 1rem;
    border: 1px solid #ccc; /* уменьшили толщину границы до 1px */
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
.x2:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.back-button {
    display: inline-block;
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
  }
  
  .back-button:hover {
    text-decoration: underline;
  }