<main>
    <a href="#" class="back-button">&#8592; Back</a>
    <h1>About</h1>
    <p>Альбом — это веб-страница, на которой отображаются изображения, сгруппированные по тематике или событию. Обычно на альбомах собираются фотографии, но также могут быть использованы другие типы изображений, такие как рисунки или иллюстрации. Альбомы могут быть созданы как для личного использования, так и для публикации в интернете, например, на сайте фотостудии или фотобанка. В альбомах можно добавлять комментарии, описания и теги, чтобы упростить поиск и навигацию по изображениям. Альбомы могут быть статическими, т.е. содержать фиксированный набор изображений, или динамическими, т.е. обновляться автоматически при добавлении новых изображений в определенную папку или при использовании тегов.</p>
    
    <section class="contact">
      <h2>Contact Us</h2>
      <p>Если у вас есть вопросы, пожалуйста, свяжитесь с нами:</p>
      <ul>
        <li><a href="mailto:example@gmail.com">n_turugeldiev@kbtu.kz</a></li>
        <li><a href="tel:+1234567890">87756209138</a></li>
      </ul>
    </section>
</main>