<p>vacancies works!</p>



<fieldset>
  <label>Vacancy name: </label>
  <input type="text" [(ngModel)]="newVacancy"><br>
  <label>Vacancy description: </label>
  <input type="text" [(ngModel)]="vacancyDescription"><br>
  <label>Vacancy salary: </label>
  <input type="text" [(ngModel)]="vacancySalary"><br>
  <label>Vacancy name of company : </label>
  <input type="text" [(ngModel)]="companyName"><br>
  <button (click)="addVacancy()">Add Vacancy</button>
</fieldset>


<ul>
  <li *ngFor = "let vacancy of vacancies">
    id : {{ vacancy.id }} <br>
    name of Vacancy : {{ vacancy.name }} <br><br>
    <button [routerLink]="[vacancy.id]">Detail</button>
    <button routerLink="/vacancies" (click) = "deleteVacancy(vacancy.id)" >Delete</button>
<!--    <p>{{ vacancy.salary }}</p>-->
<!--    <p>{{ vacancy.description }}</p>-->
<!--    <p>{{ vacancy.company.name }}</p>-->
  </li>
</ul>
